:root {
    --van-nav-bar-height: 54px !important;
    --van-nav-bar-title-font-size: 20px !important;
    --van-nav-bar-icon-color: black !important;
    --van-nav-bar-text-color: black !important;
    --van-nav-bar-arrow-size: 20px !important;
    --van-font-size-md: 20px !important;
    --van-floating-bubble-initial-gap: 56px !important;
    --van-tabbar-item-active-color: black !important;
    --van-search-action-text-color: rgb(25, 137, 250) !important;
    --van-dropdown-menu-height: 24px !important;
    --van-cell-font-size:15px !important;
    --backgroung-color-gray: rgb(245, 245, 245);
}
