@font-face {
    font-family: "children";
    src: url("children.eot"); /* IE9 */
    src: url("children.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("children.woff") format("woff"), /* chrome、firefox */
    url("children.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("children.svg#children") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


